// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import
//   "foundation/components/grid",
//   "foundation/components/visibility",
//   "foundation/components/block-grid",
//   "foundation/components/type",
//   "foundation/components/buttons",
//   "foundation/components/forms",
//   "foundation/components/custom-forms",
//   "foundation/components/button-groups",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/split-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/section",
//   "foundation/components/top-bar",
//   "foundation/components/orbit",
//   "foundation/components/reveal",
//   "foundation/components/joyride",
//   "foundation/components/clearing",
//   "foundation/components/alert-boxes",
//   "foundation/components/breadcrumbs",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/inline-lists",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/side-nav",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/magellan",
//   "foundation/components/tables",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/dropdown";


// Variables



$grey: #666;
$debug: #fea814;
$vertical-margin: 16px;

a:hover{color:#333;}



//  General  structure

html{font-size: 62.5%;}
body { 
	color:#999;
	font-size: 14px; font-size: 1.4rem; }
	
a{color: #999;}


// Typography 


h1, h2, h3, h4, h5, h6{color:#999;line-height:150%}

h1{ 
	font-size: 40px; 
	font-size: 4rem;}



h2 {
 	font-size: 24px; 
	font-size: 2.4rem;
}

h1,h2.categories{
	font-family:Futura;
	font-weight:normal;
	text-align:center;
	}
	
h1	em{
	display: block;
	font-style: normal;
	font-size:0.8em;
	padding-bottom:5px;}
	
h2.categories{
	font-size:18px;
	font-size:1.8rem;}	
	

.photo-container	h1	em{
	font-style: normal;
	font-size:2em;}
	
/** Footer **/	
	
footer ul.footer-links{float:right;}	

.folio-section figure{line-height:199px;}	
	
@media screen and (max-width: 768px) {
  footer ul.footer-links{
	float:left;}	
	
	

}



figure{position: relative;}

h1.photo-title,
.photo-container figcaption {
	font-family:Futura,helvetica,arial,sans-serif;
	font-weight:normal;
	text-align: left;	
	padding:12px;
	width:50%;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	-ms-transition: background-color 0.5s;
	transition: background-color 0.5s;

}



.folio-section figure img{
	opacity: 0.1;
	transition: opacity 1s;
}





.folio-section figcaption{
	top: 0;	
	display:block;
	font-weight: bold;
	height:100%;
	position: absolute;		
	padding:0.2rem 0.2rem 0.5rem 0.3rem;
	transition: opacity 1s;
	text-align:center;
	width: 100%;
}
	
.folio-section figcaption em{
	font-style:normal;
	
}	
	
	
	
.photo-container figcaption:hover{
	opacity: 0.8;
} 

.folio-section figure:hover img{
	opacity: 0.8;
} 

.folio-section figure:hover figcaption{
	opacity: 0.3;
}
	

h1.photo-title span,
.photo-container figcaption span{
	display:block;
	font-size:0.8em;
}


h1.photo-title:hover {
	background-color:#fff;

}

@media screen and (min-width: 768px) {
	body.home h1.photo-title{font-size:1.2rem;}
}

.photo-container{
	margin-bottom:10px;

}




@media screen and (max-width: 768px) {
	
	h1{ 
		font-size: 20px; 
		font-size: 2rem;}

	.photo-container figcaption{	
		background: rgba(255, 255, 255, 0.3);
		color:#000;		
		opacity:5%;
		position:absolute;bottom:0;left:10px;
		width:100%;
	}
	
	.photo-container figcaption:hover{opacity:100%;}
	
	h2.categories{display:none;}
	
	.folio-section figure{line-height:335px;}
	

	
}

@media screen and (max-width:460px) {
	.site-header h1{ 
		font-size:2rem;}
		
	.site-header h1	em{display:inline;}	

	.photo-container figcaption{
		font-size:1.5rem;
	
	}
	
	.folio-section figure{line-height:169px;}
	
	

}


header.site-header{
	height:50%;
}


.gallery-nav{
	background: rgba(255, 255, 255, 0.3);
	position:absolute;
	padding:2rem 0;
	top:20%;
	transition: background 1s;
	-webkit-transition-delay: 0, 0, 0, 1s;
	min-width:6em;
}


.gallery-nav:hover{
	background: rgba(204, 204, 204, 0.6);
	
}

	
	.gallery-next{
		-webkit-border-top-left-radius: 12px;
		-webkit-border-bottom-left-radius: 12px;
		-moz-border-radius-topleft: 12px;
		-moz-border-radius-bottomleft: 12px;
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		right:0;text-align: right;
		padding-right:1em;
	}

	.gallery-previous{
		-webkit-border-top-right-radius: 12px;
		-webkit-border-bottom-right-radius: 12px;
		-moz-border-radius-topright: 12px;
		-moz-border-radius-bottomright: 12px;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
		left:0;text-align: left;
		padding-left:1em;
	}
	

		.gallery-nav a{
			color:#ccc;
			font-weight:bold;
			transition: color 1s;	
		}
		
		.gallery-nav a:hover{
			cursor:pointer;
			color:#fff;
		}







	
